# ================= #
#   my super cool   #
#    ignore file    #
# ================= #

*.lock

[Tt]emp/

[Oo]bj/

[Bb]uild

/[Bb]uilds/

/[Ll]ibrary/

sysinfo.txt

*.stackdump

/Assets/AssetStoreTools*

*.apk

*.unitypackage
